@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');


* {
    font-family: 'Roboto', sans-serif;
    font-weight: 1000;
}

body {}

.head {
    background-color: black;
    width: 100%;
    height: 500px;
    color: white;
}

#name{
    font-weight: 2000;
}

a {
    text-decoration: none;
    color: white;
}

nav {
    float: right;
    margin-top: -3%;

}

nav a {}

#rcb-head {
    background-color: black;
    width: 50px;
    height: 5px;
    border-radius: 25px;
    padding: 20px;
    margin-top: -15px;
    padding-bottom: 30px;
    text-align: center;
    transition: transform .2s;
    color: white;
    outline: solid 2px white;
}

#rcb-head:hover {
    transform: scale(1.2);
}


.head h1 {
    margin-top: -10px;
}

.nav-bar {
    margin-bottom: 10%;
}

.nav-bar ul {
    display: flex;
}

.nav-bar li {
    padding: 0px 20px;
    list-style: none;
}

aside {
    width: 20%;
    margin-right: 5%;
    margin-top: -17%;
    float: right;
}

aside img {
    width: 100%;
}

.head p {
    width: 40%;

}

.grey {
    color: #777;
}

.rounded-corner-box {

    background-color: #D21F46;
    width: 200px;
    height: 5px;
    border-radius: 25px;
    padding: 20px;
    padding-bottom: 30px;
    text-align: center;
    transition: transform .2s;
    color: white;
    font-weight: bold;
}

.rounded-corner-box:hover {
    transform: scale(1.2);
}

.rcb-2 {
    background-color: black;
    width: 200px;
    height: 5px;
    border-radius: 25px;
    padding: 20px;
    margin-top: -15px;
    padding-bottom: 30px;
    text-align: center;
    transition: transform .2s;
    color: white;
    font-weight: bold;
}

.rcb-3:hover {
    transform: scale(1.2);
}

.rcb-3 {
    background-color: white;
    width: 200px;
    height: 5px;
    border-radius: 25px;
    padding: 20px;
    margin-top: -15px;
    padding-bottom: 30px;
    text-align: center;
    transition: transform .2s;
    color: black;
    outline: solid 2px black;
    font-weight: bold;
}

.rcb-2:hover {
    transform: scale(1.2);
}

.content {
    margin-top: 10%;
}

.content table {
    margin-left: 20%;
}

.content img {
    width: 60%;
}

.content h1 {
    text-align: center;
}

.content p {
    width: 60%;
}

.content ul {
    margin-top: 5%;
    list-style: none;
    display: flex;
}

.content li{
    padding-right: 10%;
    margin-left: -8%;
}

#content-table-2 {
    margin-left: 0%;
}

.skills {
    margin-top: 10%;
    color: #555;
}

.skills h2 {
    text-align: center;
}

.skills table {
    text-align: center;
    margin-right: 20%;
}

.skills-img {
    transition: transform .2s;
}

.skills-img:hover {
    transform: scale(1.2);
}

.jgd {
    margin-top: 10%;
    background-color: black;
    width: 100%;
    height: 100px;
    color: white;
    text-align: center;
}

#img-jgd {
    width: 10%;
}

.jgd td {
    color: black;
}

.jgd p {
    margin-left: auto;
    margin-right: auto;
    padding-top: 2%;
}

.jgd table {
    margin-right: 20%;
}


.jgd img {
    width: 300px;
}

.jgd h3 {
    color: black;
    margin-bottom: -1%;
}

.jgd h4 {
    color: black;
}

footer {
    text-align: center;
    padding: 3px;
    background-color: black;
    color: white;
    margin-top: 70%;
}

footer table{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}